# Variáveis de ambiente
.env
*.env.local

# Node
node_modules/
npm-debug.log*

# Terraform
infra/terraform/.terraform/
infra/terraform/.terraform.lock.hcl
infra/terraform/terraform.tfstate
infra/terraform/terraform.tfstate.backup
infra/terraform/terraform.tfvars

# Logs
*.log

# OS
.DS_Store
Thumbs.db
backend/coverage/ 
backend/node_modules/ 
